mixin navigationItem(title = "this is title", href = "#!", i = "bottom")
    li.navigation-primary__item
        a.navigation-primary__link(href= href)
            span.navigation-primary__title= title
            i.far.fa-plus-circle.navigation-primary__icon-mobile
            if i === "bottom"
                i.fas.fa-caret-down.navigation-primary__icon
            else if i === "left"
                i.fas.fa-caret-right.navigation-primary__icon
            else
                i
        if block 
            block

mixin infoMemberItem(title = "this is title", desc = "this is desc")
    .info-member__item 
        .info-member__icon 
            i.fas.fa-star.info-member__ic
        .info-member__right 
            h4.info-member__title= title 
            p.info-member__desc= desc

mixin headingPrimaryOnePage(title = "this is heading Primary")
    h1.heading-primary= title

mixin headingSection(title = "this is heading 2")
    h2(class!=attributes.class).heading-secondary= title

mixin headingSection3(title = "this is heading 3")
    h3(class!=attributes.class).heading-secondary= title

mixin headingSection4(title = "this is heading 4")
    h4(class!=attributes.class).heading-secondary= title

mixin categoryItem(title = "product", src = "images/default-product-image.jpg", alt = "img" , href="#!")
    .category__item 
        a.category__link(href= href)
            img.category__img(src= src, alt= alt)
            .category__overlay 
                h3.category__heading-third= title 

mixin productSlide(nameProduct = "name product", priceProduct = "RM 259.00", priceDown = "this is price down", srcPrimary = "images/default-product-image.jpg", srcSecondary = "images/default-product-image.jpg", href = "#!")
    .new-arrival__item.swiper-slide
        a.swiper-slide__link(href= href)
            .new-arrival__images
                img.new-arrival__img.new-arrival__img--primary(src= srcPrimary, alt="") 
                img.new-arrival__img.new-arrival__img--secondary(src= srcSecondary, alt="")
            h4.new-arrival__name= nameProduct
            p.new-arrival__price= priceProduct
            p.new-arrival__price-down= priceDown
        .new-arrival__button 
            a.new-arrival__btn-link(href= href)
                button.btn
                    i.fal.fa-cart-plus.fa-flip-horizontal
                    span Add to cart 

mixin product(nameProduct = "name product", priceProduct = "RM 259.00", priceNumberDown = "12%", priceDown = "this is price down", srcPrimary = "images/product-test-primary.png", srcSecondary = "images/product-test-secondary.png", href = "#!")
    .product
        a.product__link(href="#!")
            .product__images    
                img.product__img.product__img--primary(src= srcPrimary, alt="") 
                img.product__img.product__img--secondary(src= srcSecondary, alt="") 
            h4.product__name= nameProduct 
            p.product__price= priceProduct 
            p.product__price-down= priceDown
        .product__button 
            a.product__btn-link(href= href)
                button.btn
                    i.fal.fa-cart-plus.fa-flip-horizontal
                    span Add to cart 

mixin btnContact(text = "tis text", icon ="fab fa-facebook-square")
    button(class!=attributes.class).btn-contact
        span.btn-contact__icons
            i(class!=icon)
        span.btn-contact__text= text

mixin mainBanner(src = "images/slide-4.jpg", alt = "panner")
     .banner
        img.banner__image(src= src, alt= alt)