mixin navigationItem(title = "this is title", href = "#!", i = "bottom")
    li.navigation-primary__item
        a.navigation-primary__link(href= href)
            span.navigation-primary__title= title
            i.far.fa-plus-circle.navigation-primary__icon-mobile
            if i === "bottom"
                i.fas.fa-caret-down.navigation-primary__icon
            else if i === "left"
                i.fas.fa-caret-right.navigation-primary__icon
            else
                i
        if block 
            block

mixin infoMemberItem(title = "this is title", desc = "this is desc")
    .info-member__item 
        .info-member__icon 
            i.fas.fa-star.info-member__ic
        .info-member__right 
            h4.info-member__title= title 
            p.info-member__desc= desc

mixin headingSection(title = "this is heading 2")
    h2.heading-secondary= title

mixin categoryItem(title = "product", src = "images/default-product-image.jpg", alt = "img" , href="#!")
    .category__item 
        a.category__link(href= href)
            img.category__img(src= src, alt= alt)
            .category__overlay 
                h3.category__heading-third= title 